<div id="nome">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" [(ngModel)]="nome" />
</div>
<div id="piso">
    <label for="piso">Piso:</label>
    <input type="text" name="piso" [(ngModel)]="piso" />
</div>
<div id="teto">
    <label for="teto">Teto:</label>
    <input type="text" name="teto" [(ngModel)]="teto" />
</div>
<div id="descricao">
    <label for="descricao">Descrição:</label>
    <input type="text" name="descricao" [(ngModel)]="descricao" />
</div>
<button (click)="cadastrar()">Cadastrar</button>

<a routerLink="/">Voltar</a><br>